.nav-tabs {
  font-weight: bold;
  color: #0000;
}

/* list*/
.list {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

